<!-- views/edit_profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/profile_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action="/edit_profile" method="POST">
        <input type="hidden" name="id" value="<%= user.id %>"> <!-- 현재 로그인한 사용자의 id를 hidden으로 전달 -->
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="">
        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
