/* new_post_style.css */

/* 페이지 전반적인 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #ffc2c2;
    margin: 0; /* 바깥 여백 제거 */
    padding: 0; /* 안쪽 여백 제거 */
}

h1 {
    color: #000000;
    text-align: center; /* 가운데 정렬 */
}

/* 게시판 컨테이너 스타일 */
.board-container {
    margin: 50px auto; /* 위아래 여백은 50px이고 좌우 여백은 자동으로 조절하여 가운데 정렬 */
    max-width: 800px; /* 최대 너비 설정 */
    padding: 20px; /* 내부 여백 추가 */
    background-color: #ffffff; /* 배경색 설정 */
    border-radius: 10px; /* 테두리 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 검색 폼 스타일 */
form {
    margin-bottom: 20px;
    text-align: center; /* 가운데 정렬 */
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* 입력 필드의 너비 조절 */
    max-width: 300px; /* 최대 너비 설정 */
    margin: 10px auto; /* 가운데 정렬 */
    display: block; /* 블록 요소로 표시하여 가로로 정렬 */
}

label {
    display: block; /* 블록 요소로 표시하여 가로로 정렬 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 0px; /* 아래 여백 추가 */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff7575;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* 블록 요소로 표시하여 가로로 정렬 */
    margin: 10px auto; /* 가운데 정렬 */
}

/* 게시글 컨테이너 스타일 */
.post-container {
    padding: 8px; /* 내부 여백 추가 */
    background-color: #ffffff; /* 배경색 설정 */
    border: 1px solid #cccccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 만듦 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    margin: 20px auto 50px auto; /* 내용 간격 조절 */
}

/* 작성자 정보 스타일 */
.writer-container p {
    margin: 0; /* 단락의 기본 마진 제거 */
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 268px; /* 왼쪽 여백 추가 */
}